cloud.rezzubs.xyz {
	handle /dav* {
		reverse_proxy sftpgo:9090
	}

	handle /web/admin* {
		respond 403
	}


	handle  {
		reverse_proxy sftpgo:8080
	}
}

budget.rezzubs.xyz {
    encode gzip zstd
    reverse_proxy actual-budget:5006
}

immich.rezzubs.xyz {
    reverse_proxy immich_server:2283
}
